[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
MemoryCaptures/
UserSettings/

.vs/
.idea/
.vscode/

*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

Assets/Generated/
Assets/**/__pycache__/
Assets/**/__pycache__.meta
Assets/**/.pytest_cache/
*.pyc
*.pyo
